html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
  color: wheat;
}

.clock-body {
  transform: translateY(50%);
  height: 200px;
  width: 400px;
  border-radius: 35px;
  margin: 0 auto;
  background-color: #eee;
  /*box-shadow: -8px 9px 2px #777;*/
}

.your-clock {
  top: 50px;
  left: 40px;
}

.flip-clock-label {
  font-family: 'Montserrat', sans-serif;
}
